.img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 25%;
}

.h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}