/* styles/PostCard.module.css */

.post-card {
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 16px;
    max-width: 500px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px auto;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
  .post-title {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
  }
  
  .post-body {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
  }
  
  .post-footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  .postDate {
    font-size: 0.8rem;
    color: #6c757d; /* gris claro */
    font-style: italic;
    text-align: right;
    margin-top: 4px;
  }
  
  
  .like-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    background: none;
    border: none;
    color: #555555;
    cursor: pointer;
    transition: color 0.3s;
  }
  .like-button svg {
    margin-right: 8px;
  }
  
  /* Estado cuando el botón está en "liked" */
  .liked {
    color: #ff4d4d; /* Color rojo para el botón en estado de "liked" */
  }

  .options{
    display: flex;
    gap: 30px;
  }
  