/* styles/PostCard.module.css */

.post-card {
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 16px;
    max-width: 500px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px auto;
  }
  
  .post-header {
    display: flex;
    align-items:start;
    flex-direction: column;
    margin-bottom: 8px;
  }
  .profile-info {
    display:flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    text-align: left; /* Alineación hacia la izquierda */
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .author-info {
    display: flex;
    flex-direction: column;
  }
  
  .post-author {
    font-weight: bold;
    margin: 0;
  }
  
  .post-title {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
  }
  
  .post-body {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
  }
  
  .post-footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  .postDate {
    font-size: 0.8rem;
    color: #6c757d; /* gris claro */
    font-style: italic;
    text-align: left;
    margin-top: 4px;
  }
  
  
  .like-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    background: none;
    border: none;
    color: #555555;
    cursor: pointer;
    transition: color 0.3s;
  }
  .like-button svg {
    margin-right: 8px;
  }
  
  /* Estado cuando el botón está en "liked" */
  .liked {
    color: #ff4d4d; /* Color rojo para el botón en estado de "liked" */
  }

  .options{
    display: flex;
    gap: 5px;
  }
/* Estilos para la sección de comentarios en el diálogo */
.comments-section {
  height: 250px; /* Altura limitada para el área de desplazamiento */
  overflow-y: auto; /* Habilita desplazamiento vertical */
  padding-right: 8px; /* Espacio adicional para evitar que el contenido se corte */
  margin-bottom: 8px; /* Espacio inferior para separación visual */
}

/* Estilos para cada tarjeta de comentario individual */
.comment-card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f9f9f9; /* Fondo sutil para resaltar los comentarios */
  border-radius: 8px; /* Bordes redondeados para un aspecto limpio */
}

/* Encabezado del comentario que incluye nombre e imagen */
.comment-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.comment-card img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.comment-header h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.comment-header p {
  font-size: 12px;
  color: #777; /* Color de texto sutil para la fecha */
  margin-left: auto; /* Alinea la fecha a la derecha */
}

/* Cuerpo del comentario */
.comment-card p {
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.4;
}
